* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #00aeff, #02ff02b2);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  width: 450px;
  max-width: 95%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  transition: all 0.5s ease;
  min-height: 500px; 
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* centraliza horizontalmente os inputs */
  animation: fadeIn 0.4s ease;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #0019a8;
  text-align: center;
  font-weight: bold;
}

.form-container input[type='text'],
.form-container input[type='email'],
.form-container input[type='password'] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.form-container input:focus {
  border-color: #5b94f0;
  outline: none;
  box-shadow: 0 0 5px rgba(91, 148, 240, 0.5);
}

button.submit-btn {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  border: none;
  background: linear-gradient(to right, #00aeff, #02ff02b2);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.submit-btn:hover {
  background: linear-gradient(to right, #00aeff, #02ff02b2);
  transform: scale(1.03);
}

.forgot-password {
  color: #0019a8;
  margin-top: 8px;
  font-size: 0.9rem;
  align-self: flex-start;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s;
}

.forgot-password:hover {
  color: #4a7be5;
}

.toggle-container {
  margin-top: 25px;
  text-align: center;
}

.toggle-container h2 {
  color: #0019a8;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.toggle-container p {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 480px) {
  .wrapper {
    width: 90%;
    padding: 30px 20px;
    min-height: 450px;
  }

  .form-container input {
    padding: 14px;
  }

  button.submit-btn {
    padding: 14px;
    font-size: 1rem;
  }
}
